<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About Sergio Ramos</title>
  </head>
  <body>
    <h1>About Sergio Ramos</h1>
    <p>
      Sergio Ramos is a widely-renowned Spanish defender who enjoyed the peak of
      his career whilst playing for Spanish giants Real Madrid. Ramos is known
      for an aggressive defending style and strong loyalty towards his
      teammates.
    </p>
    <p>
      As a consistent starter and long-time captain, he held the back line on
      his way to winning multiple domestic and international club tournaments
      for Real Madrid.
    </p>

    <p>
      Sergio Ramos accepted a transfer to French club Paris-Saint Germain in
      2021 and has been enjoying the twlight of his career playing French
      football ever since.
    </p>

    <p>
      Born in 1986 in Camas, Spain, Ramos is now married to famed Spanish
      journalist Pilar Rubio and the couple share four sons. In 2014, he was
      named as a UNICEF Spain ambassador.
    </p>

    <p>
      To learn more about Sergio, one can watch his 2019 Amazon documentary
      titled 'El Corazon de Sergio Ramos', which delves into his professional
      and personal life.
    </p>
  </body>
</html>
