<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tilt+Prism&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Tilt+Prism&display=swap"
      rel="stylesheet"
    />
    <title>Serio Ramos Works</title>
  </head>
  <body id="works-body">
    <h1 id="works-heading">Sergio Ramos' Works</h1>
    <img
      id="ramos-wc"
      src="/images/ramos-wc.jpg"
      alt="Sergio Ramos World Cup Champion"
    />
    <p id="works-intro">
      Sergio Ramos has many career achievements and is considered one of the
      best defenders of this generation. During his 16 seasons with Spanish club
      Real Madrid and the Spanish National Team, as well as 2 seasons with
      French club Paris-Saint Germain, Ramos has won a total of 27 club and
      international championships.
    </p>
    <p>Some of Sergio's most notable achievements include:</p>
    <img id="rfef" src="/images/RFEF.png" alt="Spanish National Team Logo" />
    <ul id="achievements">
      <li><span>1x</span> World Cup Champion (2010)</li>
      <li><span>2x</span> European Champion (2008, 2012)</li>
    </ul>
    <img id="rm-logo" src="/images/real_madrid.png" alt="Real Madrid crest" />
    <ul>
      <li><span>4x</span> Champions League winner (2014, 2016-2018)</li>
      <li>
        <span>5x</span> Spanish League winner (2007-2008, 2012, 2017, 2020)
      </li>
      <li><span>6x</span> Defender of the Year (2012-2015, 2017-2018)</li>
    </ul>
  </body>
</html>
